.about-container {
    display: flex;
    align-items: center;
    margin-bottom: 210px;
    gap: 30px;
}

.about-wp {
    max-width: 545px;
}

.about-wp button {
    margin: 0;
}

.about-title {
    font-family: "Poppins";
    font-weight: 500;
    font-style: Medium;
    font-size: 48px;
    line-height: 57px;
    letter-spacing: 0%;
    color: $black;
    margin-bottom: 22px;
}

.about-title span {
    font-size: 20px;
    line-height: 30px;
    color: $gray;
}

.about-text {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    color: $gray;
    margin-bottom: 30px;
}

.about-img {
    width: 100%;
    height: auto;
}

@media (max-width:990px) {
    .about-container {
        flex-direction: column;
    }

    .about-title {
        font-size: 30px;
    }
}