.succes {
    background-color: $light-gray;
    padding: 100px;
    margin-bottom: 170px;
}

.succes-title {
    margin-bottom: 90px;
    font-family: "Poppins";
    font-weight: 500;
    font-style: Medium;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0%;
    max-width: 820px;
}

.succes-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.succes-items-item {
    padding: 50px;
    background-color: $white;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    position: relative;

    &:first-child::after{
        position: absolute;
        background: url(../../img/stick.png) no-repeat center center;
        width: 201px;
        height: 91px;
        content: '';
        top: 81px;
        right: -200px;
    }

    &:nth-child(2)::after{
        position: absolute;
        background: url(../../img/stick2.png) no-repeat center center;
        width: 201px;
        height: 91px;
        content: '';
        top: 0;
        right: -200px;
    }

    &:nth-child(3)::after{
        position: absolute;
        background: url(../../img/stick.png) no-repeat center center;
        width: 201px;
        height: 91px;
        content: '';
        top: 81px;
        right: -200px;
    }

    &:nth-child(even) {
        margin-top: 150px;
    }
}

.succes-items-item h3 {
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    line-height: 50%;
    letter-spacing: 0%;
    text-align: center;
}

.succes-items-item h3 span {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: $gray;
}

@media (max-width:990px) {
    .succes {
        padding: 50px 0;
    }

    .succes-title {
        font-size: 30px;
    }

    .succes-items {
        gap: 30px;
        justify-content: space-around;
    }

    .succes-items-item {
        &:nth-child(even) {
            margin: 0;
        }

        &::after {
            display: none;
        }

        &::before {
            display: none;
        }
    }
}